.statistics{
    padding-top:15px;
    text-align: center;
}
.statistics__el{
    width: 125px;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}
.statistics__el__text{
    /*text-align: center;*/
    font-size: 12px;
    text-decoration: none;
    color:#909090;
}
.statistics__el__count{
    padding-bottom:2px;
    /*text-align: center;*/
    font-size: 16px;
    text-decoration: none;
    color:#4e5665;
}

.statistics__el__image{
    height: 90px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /*padding-bottom:15px;*/
}
